/* COLORES */
:root {
  --color_red: #127369;
  --color_pink: #BFBFBF;
  --color_dark-black: #4C5958;
  --color_dark-grey: #8d8d8d;
  --color_medium-grey: #e1e1e1;
  --color_grey: #f7f7f7;
  --color_white: #ffffff;
}
