/* COLORES */
:root {
  --color_red: #127369;
  --color_pink: #BFBFBF;
  --color_dark-black: #4C5958;
  --color_dark-grey: #8d8d8d;
  --color_medium-grey: #e1e1e1;
  --color_grey: #f7f7f7;
  --color_white: #ffffff;
}
/* ESTILOS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Google Font agregada */
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: var(--color_dark-black);
}

a {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

button {
  padding: 12px 56px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color_dark-black);
  color: var(--color_white);
}

.btn-secondary {
  background-color: var(--color_white);
  color: var(--color_dark-black);
}

section,
footer {
  gap: 64px;
  padding: 80px 124px;
  text-align: center;
}

/* Header DISEÑO */
header {
  background-color: var(--color_pink);
  padding: 20px 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
